# https://github.com/readthedocs-examples/example-mkdocs-basic/blob/main/docs/requirements.txt
# requirements.txt
jinja2==3.0.3
mkdocs>=1.4.2
mkdocs-material>=9.0.12  #https://github.com/squidfunk/mkdocs-material
pygments>=2.14.0
# mdx_truly_sane_lists
